{% extends '3-col-template.html' %}
{% block title %}
{% endblock title %}
{% block navbar %}
{% endblock navbar %}
{% block content-left %}
{% include 'secondary-navbar.html' %}
{% endblock content-left %}
{% block content-mid %}
<div style="max-width: 683px;" class="mx-auto">
  <h1 class="fs-1 fw-bold pb-5">{{ tag|title }}</h1>
  {% include 'blog/components/post-list-elements-tags.html' %}
</div>
{% endblock content-mid %}
{% block content-right %}
{% sidebar_tag_cloud %}
{% endblock content-right %}
